<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Contact Us</h2>
    <p>Super Rentals is out of business. Go home.</p>
    <address>
        Super Rentals HQ
        <p>
            1212 Test Your House
            Bingo, AL, 23456
        </p>
        <a href="tel: 345-234-5678">+1 (345) 234-5678</a>
        <a href="mailto:superrentalsrep@emberjs.com">suprerentalsrep@emberjs</a>
    </address>
     <LinkTo @route='about' class="button">About us J/K</LinkTo>
</div>